#Django configurations
SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=

# Data base configurations
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# Cors configurations
CORS_ALLOWED_ORIGINS=
CSRF_TRUSTED_ORIGINS=

#Cloudinary configurations
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Supabase configuration
SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_BUCKET=
