@import "tailwindcss";

/* Define actual color values */
:root {
  --color-brand-1: #3D365C;
  --color-brand-2: #7C4585;
  --color-brand-3: #C95792;
  --color-brand-4: #F8B55F;
}

/* Register theme tokens for Tailwind */
@theme {
  --color-brand-1: var(--color-brand-1);
  --color-brand-2: var(--color-brand-2);
  --color-brand-3: var(--color-brand-3);
  --color-brand-4: var(--color-brand-4);
}

/* Custom input fill behavior */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #746f8a inset !important;
    -webkit-text-fill-color: #ffffff !important; /* your text color */
    transition: background-color 5000s ease-in-out 0s;
}

/* Customize side bar  */

::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-track {
  background: #3D365C !important;
  border-left: 2px solid #451a4b;
  border-right: 2px solid #451a4b;
  border-top: none;
  border-bottom: none;
}

::-webkit-scrollbar-thumb {
  background: #f5bcd9a1 !important;
  border-radius: 0 !important; 
}

::-webkit-scrollbar-thumb:hover {
  background: #ff82c3 !important; /* slightly darker hover */
}
